@red:#e84c3d;

.page-logo {  
  color: #fff;
  padding: 35px 25px;
  text-transform: uppercase;
  border-radius: 0;
}

.page-nav {
  font-family: 'Fjalla One', sans-serif;
  background: #202628;
  &__link {
    color: #fff;
    padding: 35px 25px;
    text-transform: uppercase;
    border-radius: 0;
    &:hover {
      background: @red;
      color: #fff;
    }
    &:focus {
      background: @red;
      color: #fff;
    }
  }
}


.carousel-caption {
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  font-size: 31px;
  a {
    color: @red;
    font-size: 15px;
  }
}